@import url("./reset.css");

*{
 box sizing: border-box;
 margin: 0;
 padding: 0;
}

body{
    background-color: #aaa;
    font-family: arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-color: #96036a;
    color: white;
    padding: 20px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

main {
    background-color: #40c080;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  article {
    background-color:rgb(248, 8, 108);
    color: white;
    margin: 10px 0;
    padding: 15px;
    width: 270px;
    border-radius: 10px;
    border-color: #40c080;
    text-align: center;
  }
  aside {
    background-color: #0d548f;
    color: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #df6d10;
    color: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;  
  }
  
  @media (min-width: 768px){
    .col{
      width: 100%;
  max-width: 1200px;
      display: flex;
      flex-direction: row-reverse;
      gap: 20px;
    
    }
    header,
footer {
  width: 100%;
  max-width: 1200px; /* Optional: prevent growing too wide */
  font-size: 25px;
}
    aside,
    main{
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      justify-content: center;
    }
aside{
   font-size: 25px;
}

article{
    width: 90%;

}
    
    
  }